<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
  <path
    fill="#212529"
    fill-opacity="1"
    d="M0,224L48,234.7C96,245,192,267,288,256C384,245,480,203,576,197.3C672,192,768,224,864,218.7C960,213,1056,171,1152,154.7C1248,139,1344,149,1392,154.7L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"
  ></path>
</svg>
<section class="bg-dark">
  <div class="container text-white pb-5">
    <div class="row mx-5">
      <div class="col-md-4">
        <h5 class="mb-3">Sosial Media</h5>
        <div class="d-flex">
          <div>
            <a href="">
              <i class="fa-brands fa-instagram fs-4 me-3 text-white"></i>
            </a>
          </div>
          <div>
            <a href="">
              <i class="fa-brands fa-tiktok fs-4 me-3 text-white"></i>
            </a>
          </div>
          <div>
            <a href="">
              <i class="fa-brands fa-facebook fs-4 me-3 text-white"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Tentang Kami</h5>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Autem, et! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda accusantium amet at nisi.
      </div>
      <div class="col-md-4">
        <h5 class="mb-3">Tentang</h5>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4363.471969658349!2d109.09736795897707!3d-7.215812250944697!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e6f8d25811577df%3A0x38988c531d442bb!2sBalai%20Desa%20Kaligiri%20Sirampog!5e0!3m2!1sen!2sid!4v1657693573993!5m2!1sen!2sid"
          height="300"
          style="border: 0; border-radius: 10px"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
          class="w-100"
        ></iframe>
      </div>
    </div>
  </div>
</section>
