<!-- Header -->

<div class="container-fluid position-fixed" style="z-index: 10000">
  <div class="row">
    <div class="col-md-1">
      <button class="btn btn-dark ms-4 mt-4" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample"><i class="fa-solid fa-bars"></i></button>
    </div>
  </div>

  <div class="offcanvas offcanvas-start text-white bg-dark" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 300px">
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasExampleLabel">UMKM KALIGIRI</h5>
      <span data-bs-dismiss="offcanvas" style="cursor: pointer"><i class="fa-solid fa-x"></i></span>
    </div>
    <div class="offcanvas-body">
      <ul class="nav flex-column text-center" style="margin-top: 150px">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/products">Produk</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/allschedule">Acara</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/allnews">Pengumuman</a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container pt-4 text-center">
  <h2>UMKM KALIGIRI</h2>
</div>
